body{
	background-color: lightyellow;
	font-family: "arial";
}

/*https://www.w3schools.com/css/tryit.asp?filename=trycss_grid*/
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  padding: 0px 100px;
}

.grid-container2 {
  display: grid;
  grid-template-columns: auto auto;
  padding: 0px 400px;
}

.grid-container3 {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  padding: 0px 50px;
}

/*https://www.w3schools.com/css/tryit.asp?filename=trycss_grid*/
.grid-item {
  padding: 20px;
  font-size: 20px;
  text-align: center;
  width: 200px;
}

.list-head{
	font-weight: bold;
	font-size: 25px;
}

.list-bar{
	max-width: 300px;
}

.content{
	right: 150px;
	position: relative;
	margin: auto;
	max-width: 600px;
}

.chooser{
	background-color: lightgreen;
	border-radius: 5px;
	padding: 10px;
	border-color: transparent;
	font-size: 15px;
	width: 175px;
	color: black;
	text-align: left;
}

.inputbar{
	border-radius: 5px;
	padding: 10px;
}

.search{
	border-radius: 5px;
	padding: 10px;
	background-color: lightgreen;
	border-color: lightyellow;
	font-size: 15px;
	width: 175px;
}

.return{
	border-radius: 5px;
	padding: 10px;
	background-color: lightgreen;
	border-color: lightyellow;
	font-size: 15px;
}

.viewsource{
	border-radius: 5px;
	padding: 10px;
	background-color: lightgreen;
	border-color: lightyellow;
	font-size: 15px;
}